.title{
    font-size: 55px;
    letter-spacing: -2px;
}
.orange-text{
    color: orange;
}

.subcribe{

    background-color: #212121;
}
.footer{

    background-color: #212121;
}

 @media (max-width:668px) {
    .articleBox{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;        
        text-align:center;
    }

}